version: 2.1

jobs:
  test:
    docker:
      - image: circleci/python:3.10

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt install software-properties-common
            sudo apt-get update
            sudo add-apt-repository "deb http://download.sr-support.com/software SRResearch main"
            wget -O - "http://download.sr-support.com/software/SRResearch_key" | sudo apt-key add -
            sudo apt-get update
            sudo apt-get install eyelink-edfapi
            sudo ldconfig
            pip install -e ".[dev]"

      - run:
          name: Run tests
          command: |
            pytest

workflows:
  version: 2
  test:
    jobs:
      - test
