version: 2.1


orbs:
  win: circleci/windows@4.1.1 # The Windows orb gives you everything you need to start using the Windows executor

jobs:
  test:
    docker:
      - image: circleci/python:3.10

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt install software-properties-common
            sudo apt-get update
            sudo add-apt-repository "deb http://download.sr-support.com/software SRResearch main"
            wget -O - "http://download.sr-support.com/software/SRResearch_key" | sudo apt-key add -
            sudo apt-get update
            sudo apt-get install eyelink-edfapi
            sudo ldconfig
            python -m pip install --upgrade pip
            pip install -e ".[dev]"
      - run:
          name: Set environment variables
          command: |
            export EYELINKIO_USE_INSTALLED_EDFAPI=true

      - run:
          name: Run tests
          command: |
            pytest
  
  test-macos:
    macos:
      xcode: 14.2.0
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -e ".[dev]"
      - run:
          name: Set environment variables
          command: |
            export EYELINKIO_USE_INSTALLED_EDFAPI=false
      - run:
          name: Run tests
          command: |
            pytest

  test-windows:
    executor: win/server-2022
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -e ".[dev]"
      - run:
          name: Set environment variables
          command: |
            set EYELINKIO_USE_INSTALLED_EDFAPI=false
      - run:
          name: Run tests
          command: |
            pytest

  build-docs:
    docker:
      - image: circleci/python:3.10
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt install software-properties-common
            sudo apt-get update
            sudo add-apt-repository "deb http://download.sr-support.com/software SRResearch main"
            wget -O - "http://download.sr-support.com/software/SRResearch_key" | sudo apt-key add -
            sudo apt-get update
            sudo apt-get install eyelink-edfapi
            sudo ldconfig
            python -m pip install --upgrade pip
            pip install -e ".[dev]"
      - run:
          name: Build docs
          command: cd docs/ && make html -W --keep-going
      - persist_to_workspace:
          root: docs/_build
          paths: html
    
  docs-deploy:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: docs/_build
      - run:
          name: Disable jekyll builds
          command: touch docs/_build/html/.nojekyll
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "seh33@uw.edu"
            git config user.name "ci-build"
      - add_ssh_keys:
          fingerprints:
            - "Bq:tE:i3:0d:eZ:OK:Qx:P9:7u:kU:kN:Ts:g5:zH:wE:c6:wj:bT:Qc:iN:u5:U"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "[skip ci] Updates" --dist docs/_build/html

workflows:
  version: 2
  test:
    jobs:
      - test
      - build-docs
      - test-macos
      - test-windows
      - docs-deploy:
          requires:
            - test
            - build-docs
          filters:
            branches:
              only: main
